@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
body {
	font-family:"Kanit", sans-serif;
}
.navbar {
	display: flex;
	align-items: center; 
	padding: 20px;
	
}
nav {
	flex: 1;
	text-align: right;
}
nav ul {
	display: inline-block;
	list-style-type: none;	
}
nav ul li {
	display: inline-block;
	margin-right: 20px;
}
a {
	text-decoration: none;
	color:#FF0004;
	
}
p {
	color:#000000;
}
.container {
	max-width: 1300px; 
	margin: auto; 
	padding-left: 25px;
	padding-right: 25px;
	
}
.row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
.col-2 {
	flex-basis: 50%; 
	min-width: 300px;
	
}
.col-2 img {
	max-width: 100%;
	padding: 50px 0; 
}
.col-2 h1 {
	font-size: 50px;
	line-height: 60px; 
	margin: 25px 0;
	color:rgba(255,255,255,1.00);
}
.col-2 p {
	color:rgba(255,255,255,1.00);
}
.button {
	display: inline-block;
	background: #FF0004;
	color: white;
	padding: 8px 30px; 
	margin: 30px 0;
	border-radius: 30px;
	transition: background 0.5s;
}
.button:hover {
	background: #840002;
}
.header {
	background: #8C080A;
}
.header .row {
	margin-top: 70px; 
}
#categories {
	margin: 70px 0;
}
.col-3 {
	flex-basis: 30%;
	min-width: 250px;
	margin-bottom:30px;
}
.col-3 img {
	width: 100%;
}
.small-container {
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.col-4 {
	flex-basis: 25%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
	transition: transform 0.5s;
}
.col-4 img {
	width: 100%;
}
.title {
	text-align: center; 
	margin: 0 auto 80px;
	position: relative;
	line-height: 60px;
	color:#FF0505;
}
.title::after {
	content: '';
	background: #FF0004;
	width: 80px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
h4 {
	color:#000000;
	font-weight: normal;	
}
.col-4 p {
	font-size: 14px;
}
.col-4:hover {
	transform: translateY(-5px);
	background:rgba(216,216,216,0.70);
	transition:background-color 0.5s;
	border-radius: 10px;	
}
.rating .fa-solid, .fa-regular {
	color:#FFDD00;
}
.offer {
	background: #8C080A;
	margin-top: 80px;
	padding: 30px 0; 
	
}
small {
	color:#FFFFFF;
}
.offer h1 {
	color:#FFFFFF;
}
.offer p {
	color:#FFFFFF;
}
.col-2 .offer-img {
	padding: 50px;	
}
.testimonial {
	padding-top: 100px;
}
.testimonial .col-3{
	text-align: center;
	padding: 40px 20px;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
	cursor: pointer;
	transition: transform 0.5s;
}
.testimonial .col-3 img {
	width: 50px;
	margin-top: 20px; 
	border-radius: 50%;
	
}
.testimonial .col-3:hover {
	transform:translateY(-10px);
}
.fa, .fa-quote-left {
	font-size: 34px;
	color:#FF0004;
}
.col-3 p {
	font-size: 12px;
	margin: 12px 0;
	color:#000000;
}
.testimonial .col-3 h3 {
	font-weight: 600;
	color:#FF0004;
	font-size: 16px;
}
.brands {
	margin: 100px auto;
}
.col-5 {
	width: 160px;
}
.col-5 img {
	width: 100px;
	min-width: 100%;
	cursor: pointer;
	filter: grayscale(100%);
}
.col-5 img:hover {
	filter: grayscale(0%);
	transition: 0.5s;
}
.footer {
	background: #8C080A;
	color:#FFFFFF;
	font-size: 14px;
	padding: 60px 0 20px;
	align-content: center;
}
.footer p, li {
	color: #FFFFFF;
}
.footer h3 {
	color:#FBFBFB;
	margin-bottom: 20px;
	
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
	min-width: 250px;
	margin-bottom: 20px;
}
.footer-col-1{
	flex-basis: 30%;
	
}
.footer-col-2 {
	flex: 1;
	text-align: center;
	
}
.footer-col-2 img {
	width: 180px;
	margin-bottom: 20px;
	min-width: 100%;
}
.footer-col-3, .footer-col-4 {
	flex-basis: 12%;
	text-align: center;
}
ul {
	list-style-type: none;
	
}
.app-logo {
	margin-top: 20px;
}
.app-logo img {
	width: 140px;
}
.copyright {
	text-align:center;	
}
.menu-icon {
	width: 28px;
	margin-left: 20px;
	display: none;
}
@media only screen and (max-width:1500px){
	nav ul {
		position:absolute;
		top: 70px;
		left: 0;
		background:#FFFFFF;
		width: 100%;
		overflow:hidden;
		transition: max-height 0.5s;
	}
	nav ul li {
		display: block;
		margin-right: 50px;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	nav ul li a {
		color:#FF0004;
	}
	.menu-icon {
		margin-left:auto;
		display: block;
		cursor: pointer;	
	}
	.cart {
		display: none;
	}
}
@media only screen and (max-width:600px) {
	.row {
		text-align: center;
	}
	.col-2,.col-3,.col-4 {
		flex-basis: 100%;
	}
}